body {
    font-family: sans-serif;
    max-width: 60em;
    margin: 0 auto;
    padding: 0 0.5em;
}

.inzidenz-landkreis {
    margin: 0.2em 0;
}

@media screen and (min-width:992px) {

.inzidenz-landkreis > span {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    font-size: 80%;
}

/* Name des Landkreis */
.inzidenz-landkreis > span:first-child {
    width: 12em;
}

/* Balken mit dem Inzidenzwert */
.inzidenz-landkreis > span:last-child {
    background: #777;
    color: white;
    padding: 0.1em 0.25em;
    margin: 0 0.25em;
}

}

@media screen and (max-width:992px) {

.inzidenz-landkreis > span:first-child::after {
    content: ': ';
}

}