body{background-color:#99ffff}

.container{
	/* set position horizontally middle */
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	/* with distance 15% of view height from body top border */
	top: 15vh;
	border:1px solid black;
	padding-bottom:10px;
	width:50vw;
	background-color:#ff6699}
	
h1{text-align:center;}

p{font-size:30px;text-align:center;}

.input{font-size:30px;text-align:center;}

.icon{width:24; height:24px}